.godot/
.import/
*.import
*.translation
*.tmp
*.log
*~
.DS_Store
godot2/addons/gut/
build/**
!build/
!build/.gitkeep
!build/html-client/
!build/html-client/.gitkeep
!build/linux-client/
!build/linux-client/.gitkeep
